.row.p-t-3
  %h1.text-xs-center= @group.name

.row
  .col-md-offset-5
    .btn-group.m-t-3
      %button.btn.btn-info-outline{"data-target" => "#groupUserFormModal", "data-toggle" => "modal", :type => "button"}
        Add user
      = link_to "Destroy group", group_path(@group) , method: :delete, class: 'btn btn-info-outline'

.row.m-t-2
  - @group.users.each do |user|
    .col-md-3
      = image_tag Faker::Avatar.image, class: 'card-img-top img-fluid'
      .card-block
        %p.card-text= user.email

= render 'group_users/form'

