!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Challenger
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
    %script{:src => "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"}
  %body
    .container
      = render 'shared/navbar'
      = render 'shared/flash_messages'
      = yield
      = render 'shared/footer'
    
